html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

span{
  white-space: nowrap
}

a {
  color: inherit;
  text-decoration: none;
}

form{
  padding: 17px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    
  }
  body {
    color: white;
    background: rgb(255, 255, 255);
  }
}
